.roi-tables {

}

.expenses-table, .revenue-table, .totals-table {
  margin-bottom: 3em;
}
.expenses-table th, .revenue-table th, .totals-table th {
  width: 150px;
}
.expenses-table td, .revenue-table td, .totals-table td {
  width: 100px
}
